<ion-header>
  
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>{{toUser.name}}</ion-title> -->
    <!-- <ion-title>聊天室</ion-title>
    <button ion-button style="left:200px; background-color: #F3EAEA; color:#821B1B" (click)="changeType('health')" [disabled]="healthDisable">醫生</button>
    <button ion-button color="dark" style="left:205px; background-color: #F3EAEA; color:#821B1B" (click)="changeType('chat')" [disabled]="chatDisable">朋友</button> -->

    <!-- <button ion-button style="float:right;" (click)="changeType('health')" [color]="healthColor" [style.backgroudColor]="healthBg">醫生</button>
    <button ion-button  style="float:right;" (click)="changeType('chat')" [color]="chatColor" [style.backgroudColor]="chatBg">朋友</button> -->

    <button ion-button  style="float:right;" (click)="changeType('health')" [class]="health">醫生</button>
    <button ion-button style="float:right;" (click)="changeType('chat')" [class]="chat">朋友</button>
    
  </ion-toolbar>

</ion-header>


<ion-content>

  <div class="message-wrap">
      <!-- [class.left]=" msg.userId === toUser.id " -->
    <div *ngFor="let msg of msgList"
         class="message"         
         [class.left]=" msg.role == 'robot' "
         [class.right]=" msg.role == 'user' ">
      <img class="user-img" src="{{msg.role == 'user' ? msg.userAvatar : robotAvatar }}" >
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>{{msg.time | date:'MM/dd HH:mm' }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
          
          <audio controls *ngIf="msg.role == 'robot' && msg.time != compareTime+1">
            <source src="{{msg.url}}" type="audio/wav">
          </audio>
          <audio controls autoplay *ngIf="msg.time == compareTime+1">
            <source src="{{msg.url}}" type="audio/wav">
          </audio>
        </div>
        
        
        
      </div>
    </div>

  </div>


</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    
    <ion-input #chat_input
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()"></ion-input>
    <!-- </textarea> -->
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
  <!-- <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->
</ion-footer>
